<div class="flex-row">
  <div class="flex-coll title"><span>Metropolis</span></div>
  <nav class="flex-coll menu">
    <a routerLink="/city" routerLinkActive="active">Home</a>
    <a routerLink="/about">Prices</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact-us">Contact us</a>
  </nav>
  <div class="flex-coll links">
    <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
