@import "../../assets/_colors";

$gray: #9f9f9f;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

:host{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.5s ease;

  &:hover{
    background-color: $bg_gray_tr;
    border-bottom: 1px solid $white_tr;

    .flex-row{
      border: none;
    }
  }

  .flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $white_tr;
    width: 80%;
    margin: 0 10% 0 10%;

    .flex-coll{
      display: inline-flex;
      height: 4vh;

      &.title{
        width: 30%;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        span{
          color: $white;
          text-shadow: -1px 0 $gray, 0 1px $gray, 1px 0 $gray, 0 -1px $gray;
          height: 29px;
          font-size: 28px;
        }
      }

      &.menu{
        width: 50%;
        align-items: center;
        justify-content: space-around;
        border-right: 1px solid $white_tr;
        border-left: 1px solid $white_tr;
        font-size: 14px;

        a {
          color: $white;
          text-decoration: none;
          position: relative;

          &.active {
            border-bottom: 1px solid $white_tr;
          }

          // Underline animation
          &:before,
          &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $white;
          }
          &:before {
            opacity: 0;
            transform: translateY(- $distance);
            transition: transform 0s $easeOutBack, opacity 0s;
          }
          &:after {
            opacity: 0;
            transform: translateY($distance/2);
            transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:hover,
          &:focus {
            &:before,
            &:after {
              opacity: 1;
              transform: translateY(0);
            }
            &:before {
              transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:after {
              transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
            }
          }
          // Underline animation

        }
      }

      &.links{
        align-items: center;
        justify-content: space-around;
        width: 20%;

        a{
          color: $white;
        }
      }
    }
  }
}
