@import "../../assets/colors";

:host{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.5s ease;

  &:hover{
    background-color: $bg_gray_tr;
    border-bottom: 1px solid $white_tr;

    .flex-row{
      border: none;
    }
  }

  .flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $white_tr;
    width: 80%;
    margin: 0 10% 0 10%;

    .flex-coll{
      display: inline-flex;
      height: 4vh;

      &.title{
        width: 30%;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        span{
          color: $white;
          height: 29px;
          font-size: 28px;
        }
      }

      &.menu{
        width: 50%;
        align-items: center;
        justify-content: space-around;
        border-right: 1px solid $white_tr;
        border-left: 1px solid $white_tr;
        font-size: 14px;

        a{
          color: $white;
          text-decoration: none;

          &.active{
            border-bottom: 1px solid $white_tr;
          }
        }
      }

      &.links{
        align-items: center;
        justify-content: space-around;
        width: 20%;

        a{
          color: $white;
        }
      }
    }
  }
}
