<a-scene>
  <a-assets>
    <a-asset-item id="tree-obj" src="/assets/models/trees.obj"></a-asset-item>
    <a-asset-item id="tree-mtl" src="/assets/models/trees.mtl"></a-asset-item>
    <a-asset-item id="city-obj" src="/assets/models/city.obj"></a-asset-item>
    <a-asset-item id="city-mtl" src="/assets/models/city.mtl"></a-asset-item>
    <img id="road-mtl" src="/assets/textures/road2.jpg" >
  </a-assets>

  <!-- Mouse controller -->
  <a-entity cursor="rayOrigin: mouse"></a-entity>


  <!--<a-box *ngFor="let flor of tower"-->
         <!--[attr.position]="flor.position"-->
         <!--[attr.height]="flor.height"-->
         <!--[attr.rotation]="flor.rotation"-->
         <!--[attr.color]="flor.color"-->
         <!--[attr.scale]="flor.scale"-->
         <!--(mouseenter)="mouseEnter(flor.id)"-->
         <!--(mouseleave)="mouseLeave(flor.id)"-->
         <!--(click)="click($event, flor.id)"-->
  <!--&gt;</a-box>-->

  <!--GROUND-->
    <a-plane position="0 0 0" rotation="-90 0 0" width="60" height="60" color="#cfcc99"></a-plane>

  <!--TOWERS AREAS-->
  <a-entity id="towers-areas">
  <!-- LINE-->
    <a-entity id="towers-area_1">
      <a-box position="19.5 0 18" height="0.27" width="8" depth="12"></a-box>
      <a-box position="19.5 0 6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="19.5 0 -6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="19.5 0 -18" height="0.27" width="8" depth="12"></a-box>
    </a-entity>
  <!-- LINE-->
    <a-entity id="towers-area_2">
      <a-box position="9.5 0 18" height="0.27" width="8" depth="12"></a-box>
      <a-box position="9.5 0 6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="9.5 0 -6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="9.5 0 -18" height="0.27" width="8" depth="12"></a-box>
    </a-entity>
  <!-- LINE-->
    <a-entity id="towers-area_3">
      <a-box position="0 0 18" height="0.27" width="8" depth="12"></a-box>
      <a-box position="0 0 6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="0 0 -6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="0 0 -18" height="0.27" width="8" depth="12"></a-box>
    </a-entity>
  <!-- LINE-->
    <a-entity id="towers-area_4">
      <a-box position="-9.5 0 18" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-9.5 0 6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-9.5 0 -6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-9.5 0 -18" height="0.27" width="8" depth="12"></a-box>
    </a-entity>
  <!-- LINE-->
    <a-entity id="towers-area_5">
      <a-box position="-19.5 0 18" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-19.5 0 6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-19.5 0 -6" height="0.27" width="8" depth="12"></a-box>
      <a-box position="-19.5 0 -18" height="0.27" width="8" depth="12" ></a-box>
    </a-entity>
  </a-entity>
  <!--TOWERS AREAS-->

  <!--ROADS-->
    <!--COLS-->
    <a-entity id="road-cols">
      <a-plane position="0 0.02 29"  rotation="-90 0 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="0 0.02 17"  rotation="-90 0 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="0 0.02 2"   rotation="-90 0 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="0 0.02 -10" rotation="-90 0 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="0 0.02 -22" rotation="-90 0 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
    </a-entity>
    <!--ROWS-->
    <a-entity id="road-rows">
      <a-plane position="29 0.025 0"    rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="17 0.025 0"    rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="10 0.025 0"    rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="3 0.25 0"      rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="-4 0.025 0"    rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
      <a-plane position="-24 0.025 0"   rotation="-90 90 0" width="60" height="2" material="src:#road-mtl; repeat: 20"></a-plane>
    </a-entity>
  <!--ROADS-->



  <a-sky color="#ECECEC"></a-sky>

  <!--<a-entity-->
    <!--gltf-model="#trees-gltf"-->
    <!--height="2"-->
    <!--width="2"-->
    <!--scale="2.0 2.0 2.0" position="1 1 -7'"-->
    <!--rotation="0 35 0"-->
  <!--&gt;</a-entity>-->

  <a-obj-model src="#tree-obj" mtl="#tree-mtl" position="4 0 -8"  scale=".2 .2 .2"></a-obj-model>
  <!--<a-obj-model src="#tree-obj" mtl="#tree-mtl" position="4.5 0 -7"  scale=".2 .2 .2" ></a-obj-model>-->
  <!--<a-obj-model src="#tree-obj" mtl="#tree-mtl" position="1 0 -5"  scale=".2 .2 .2" ></a-obj-model>-->
  <!--<a-obj-model src="#tree-obj" mtl="#tree-mtl" position="5 0 -2"  scale=".2 .2 .2" ></a-obj-model>-->
  <!--<a-obj-model src="#tree-obj" mtl="#tree-mtl" position="2.2 0 -8"  scale=".2 .2 .2" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="4 0 -9" scale="3 3 3" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="7 0 -2.5" scale="3 3 3" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="6 0 -4.5" scale="3 3 3" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="8 0 -6.5" scale="3 3 3" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="9 0 -4.5" scale="3 3 3" ></a-obj-model>-->
  <!--<a-obj-model src="#city-obj" mtl="#city-mtl" position="12 0 -5.5" scale="3 3 3" ></a-obj-model>-->

  <!-- Camera -->
  <a-entity position="25 20 25" rotation="-11 48 0">
    <a-camera >
      <!--<a-cursor></a-cursor> <-- camera cursor ( VR-controls) -->
    </a-camera>
  </a-entity>

</a-scene>

