<div
  [ngClass]="{'active': isVisible, 'container': true}"
>
    <div class="row">
      <img src="/assets/tower-example.jpg" alt="Tower image">
      <div class="description">
        <div class="title">Metropolis tower</div>
        <div class="price-section">Sale: 600K-25M AED/ year</div>
        <a href="#" class="floor-plan-section">See floor plan</a>
      </div>
    </div>
    <div class="row separator">
      <a href="#" class="button"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </div>
    <div class="row">

    </div>
</div>
